body {
  background: rgb(241, 234, 234);
  font-family: 'Courier New', Courier, monospace;
}
h1 {
  margin-bottom: 1%;
}
.item:hover {
  background: rgba(202, 152, 123, 0.548)  ;
}
.App {
  text-align: center;
}

.w30{
  width: 40%;
}

.h100{
  height: 100vh;
}

.border{
  border: .5px solid rgb(197, 197, 197);
}

.orange {
  background-color: rgb(255, 201, 51);
}

.bg-red{
  background-color: #FC466B;
}
.bg-grey{
  background-color: #575A69;
  color: white;
}

.font-1{
  font-size: 2em;
}

.radius{
  border-radius: 10px;
}

.console-style{
  height: 80vh;
  margin: 50px;
  background-color: rgb(44, 47, 63);
  color: white;
  padding: 20px;
}

p{
  padding:5px;
}